/web/node_modules
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/vendor
/web/package-lock.json
/web/.env
/web/.phpunit.result.cache
/web/Homestead.json
/web/Homestead.yaml
/web/npm-debug.log
/web/yarn-error.log
/docker/data/*
/docker/php/php.ini
.idea/
docker-compose.yaml
web/composer.lock
web/package-lock.json
web/yarn.lock
web/public